.git
.gitattributes
*.sln
*.vs
PSCompiler/PSCompiler/bin
PSCompiler/PSCompiler/obj
PSCompiler/PSCompiler/Properties
*.csproj
*.config
VirtualMachine/VirtualMachine/bin
VirtualMachine/VirtualMachine/obj
VirtualMachine/VirtualMachine/Properties
*.user
VirtualMachine/Environment/ExampleGenerator/ExampleGenerator/bin
VirtualMachine/Environment/ExampleGenerator/ExampleGenerator/obj
VirtualMachine/Environment/ExampleGenerator/ExampleGenerator/Properties